.cart {
  display: flex;
  /* flex-direction: column; */
  margin-top: 4%;
  gap: 1rem;
  /* align-items: center; */
  justify-content: center;
  min-height: 63.5vh;
}
.cart .cartItems {
  display: flex;
  gap: 4rem;
  background-image: linear-gradient(
    to right,
    rgba(213, 238, 167, 0.5),
    rgba(210, 241, 138, 0.5),
    rgba(120, 212, 14, 0.5)
  );
  width: 35rem;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  /* height: 100rem; */
}
.cart .cartItems img {
  width: 8rem;
}
.cart .cartItems .textcontent {
  width: 10rem;
}
.cartItems .textcontent h4 {
  color: brown;
}
.cartItems .textcontent span {
  color: gray;
}
.cartItems .buttoncontent p {
  display: flex;
  gap: 0.4rem;
  align-items: center;
}
.cartItems .buttoncontent p button {
  width: 1.7rem;
  background-color: gray;
  border: none;
  border-radius: 40px;
  color: whitesmoke;
  font-size: 1.8rem;
  padding: 0 4%;
  cursor: pointer;
}
.buttoncontent i {
  color: red;
  font-size: 1.4rem;
  cursor: pointer;
}
.cart .order {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  gap: 2rem;
}
.cart .ordersummary {
  background-color: rgb(228, 218, 218);
  padding: 0.5rem;
  border-radius: 5px;
  position: sticky;
  top: 0;
  height: fit-content;
  width: fit-content;
}
.cart .ordersummary h2 {
  color: orangered;
}
.cart .ordersummary p {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
}
.cart .ordersummary button {
  font-size: 1.2rem;
  padding: 2% 2%;
  background-color: whitesmoke;
  border: 1px solid orangered;
  border-radius: 5px;
  cursor: pointer;
}
.cart .ordersummary button:hover {
  background-color: orangered;
  color: whitesmoke;
}
.emptyCart {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 60rem;
  overflow-x: hidden;
  margin-bottom: 5rem;
  gap: 1rem;
}
.emptyCart img {
  width: 15rem;
  height: 15rem;
}
.emptyCart h1 {
  color: rgb(118, 165, 42);
}
.emptyCart button {
  background-color: rgb(165, 112, 42);
  border: none;
  border-radius: 2px;
  padding: 2% 2%;
  color: whitesmoke;
  font-weight: 500;
  font-size: 1.4rem;
  width: fit-content;
  cursor: pointer;
}
.emptyCart button:hover {
  background-color: rgb(82, 34, 6);
}
.chkmodal {
  background-color: whitesmoke;
  padding: 2.5%;
  width: fit-content;
  /* margin-top: 25%;
  margin-left: 35%; */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  /* width: "20rem"; */
  /* border: "1.5px solid black"; */
  /* border-radius: "15px"; */
}
@media (max-width: 760px) {
  .cart {
    flex-direction: column;
  }
  .cart .cartItems {
    width: fit-content;
    gap: 2rem;
    padding-right: 2%;
  }
  .cartItems img {
    width: 4rem;
  }
  .cartItems .textcontent span {
    word-wrap: break-word;
    width: 5rem;
  }
  .emptyCart {
    width: 97vw;
  }
}
