.nav{
    display: flex;
    justify-content: space-between;
    padding: 0 4vw;
    background-color: rgb(230, 225, 225);
    align-items: center;
    flex: 1 0 0;
    gap: 1rem;
  overflow-x: hidden;
}
.nav i{
    background-color: rgb(165, 158, 158);
    padding: 4% 8%;
    display: flex;
    align-items: center;
    justify-content: center;
    border:none;
    cursor: pointer;
}
.nav .search{
    display: flex;
}
.nav .search input{
    min-width: 15vw;
    font-size: 1.2rem;
    padding: 2%;
    border: none;
}
.nav .search input:focus{
    outline: 0;
}
@media (max-width:760px){
    .nav .search input{
        width: 45vw;
    }
    .nav{
        /* flex-direction: column; */
    }
}