*{
  box-sizing: border-box;
  overflow-x: hidden;
}
body{
  margin: 0;
}
.footer{
  background-color: blueviolet;
  color: whitesmoke;
  display: flex;
  flex-direction: column;
  padding: 2%;
  align-items: center;
  /* position: fixed; */
  /* bottom: 0; */
}
/* .len{
  color: red;
} */
@media (max-width:760px){
  html{
    overflow-x: hidden;
  }
}